.job-offer-card {
  transition: transform 0.3s ease;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.job-offer-card:hover {
  transform: translateX(-20px);
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.job-offer-card:hover .arrow-icon {
  opacity: 1;
}

.jobOfferCard__box {
  padding: 0.5rem 2rem;
}

.jobOfferCard__title {
  font-size: 1.6rem;
}

.jobOfferCard__appl {
  background-color: #b2d8d8;
  font-size: 1rem;
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  color: #004c4c;
  margin-left: 1rem;
}

.jobOfferCard__salary {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  max-width: 300px;
  margin: 0 20px;
}

.jobOfferCard__salaryText {
  font-size: 1.1rem;
  margin: 0;
}

@media (max-width: 900px) {
  .job-offer-card {
    transition: none;
  }

  .job-offer-card:hover {
    transition: none;
  }

  .arrow-icon {
    transition: none;
    font-size: 20px;
    opacity: 1;
  }

  .jobOfferCard__title {
    font-size: 1.4rem;
  }

  .jobOfferCard__salary {
    margin: 0 1.5rem 1rem 0;
  }
}
