.job-offer-card {
  transition: transform 0.3s ease;
  width: "100%";
  position: "relative";
  cursor: "pointer";
}

.job-offer-card:hover {
  transform: translateX(-20px);
}

.arrow-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.job-offer-card:hover .arrow-icon {
  opacity: 1;
}
