.tab {
  display: flex;
  justify-content: space-between;
}

.tab-link {
  font-weight: normal;
  font-size: 1.2rem;
  padding: 10px 20px 30px;
  border-radius: 0;
  border-bottom: 2px rgb(216, 213, 219) solid;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.tab-link.active {
  background-color: white;
  font-weight: bold;
  border-bottom: 2px rgb(114, 71, 145) solid;
}

.tab-link:active {
  background-color: transparent;
}

.tab-link:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px rgb(216, 213, 219) solid;
}

.tab-link.active:hover {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px rgb(114, 71, 145) solid;
}

.loginForm {
  padding: 2rem 0;
}

.input-field {
  margin: 0 0 2rem;
}

.signUpButton {
  margin-top: 2rem;
}

.signUp__box {
  padding: 2rem;
  margin-top: 2rem;
}

.signUp__title {
  font-size: 2.4rem;
  margin: 1rem 0 3rem;
}

.signUp__login {
  margin: 1.8rem 0 0;
  padding: 0.8rem 0 1.6rem;
  border-radius: 4px;
}

.signUp__text {
  font-size: 1.2rem;
}
