#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 2rem 2rem;
  text-align: left;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

tr:nth-child(odd) {
  background: #fff;
}

.pagination li a {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: #333;
}

.pagination li.disabled a {
  color: #ccc;
  pointer-events: none;
}

.pagination li.active a {
  background-color: #1976d2;
  color: white;
}

.pagination__box {
  margin-top: "2rem";
}
