.appFilters {
  padding: 2rem 2% 0.5rem;
  margin: 2rem 0;
  border-radius: 8px;
}

.appFilters__box {
  flex-wrap: "wrap";
}

.appFilters__status {
  margin: 0;
  padding: 0 8px;
}

.appFilters__clear {
  margin: 0 0 0 0.5rem;
}

@media (max-width: 900px) {
  .appFilters__status {
    margin: 1rem 0;
  }

  .appFilters {
    padding: 0.5rem 2% 0.5rem;
  }
}
