.applicant-card {
  width: "100%";
  position: "relative";
  cursor: "pointer";
}

.arrow-icon-appl {
  position: absolute;
  right: 20px;
  top: 35px;
  transform: translateY(-50%);
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.applicant-card:hover .arrow-icon-appl {
  opacity: 1;
}

.applicant-contacts {
  padding-left: 2rem;
}

@media (max-width: 600px) {
  .applicant-contacts {
    margin-top: 1rem;
    padding-left: 0rem;
  }

  .arrow-icon-appl {
    opacity: 1;
  }
}
